:root {
  --clr-primary-light-blue: hsl(231, 77%, 90%);
  --clr-primary-dark-blue: hsl(231, 90%, 4%);
  --clr-primary-shadow-color: hsl(227, 17%, 35%);
  --clr-primary-button-color: hsl(228, 32%, 17%);

  --clr-neutral-dark-grayish-blue: hsl(227, 12%, 61%);

  --clr-neutral-creamy: hsl(12, 100%, 96%);
  --clr-neutral-mobile: hsl(0 0% 100%);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-30: 30px;
  --fs-40: 40px;
  --fs-56: 56px;
  --fs-body: var(--fs-14);
  --fs-nav: var(--fs-16);
  --fs-button: var(--fs-13);
  --fs-primary-heading: var(--fs-40);
  --fs-secondary-heading: var(--fs-30);

  --size-xxxs: 4px;
  --size-xxs: 8px;
  --size-xs: 12px;
  --size-s: 16px;
  --size-m: 24px;
  --size-L: 32px;
  --size-xL: 48px;
  --size-xxL: 64px;
  --size-xxxL: 80px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin & padding in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-dark-blue);
}

p:not([class]) {
  opacity: 1;
  max-width: 450px;
}

p[data-width="wide"] {
  max-width: 100%;
}

.padding-block-xxxL {
  padding-block: var(--size-xxxL);
}
.padding-block-s {
  padding-block: var(--size-s);
}

.button {
  display: inline-flex;
  border-radius: 20px;
  padding: 18px 40px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  border: none;
  line-height: 1;
  color: var(--clr-neutral-creamy);
  background-color: var(--clr-primary-button-color);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1.125em 1em -1em var(--clr-primary-shadow-color);
  transition: all 300ms ease-in-out;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-neutral-dark-grayish-blue);
}

.button[data-type="inverted"] {
  background-color: var(--clr-neutral-creamy);
  color: var(--clr-primary-button-color);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-neutral-dark-grayish-blue);
  color: var(--clr-neutral-creamy);
}

.button[data-shadow="none"] {
  box-shadow: none;
  padding: 17px;
}

/* navigation */
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
  display: flex;
  gap: clamp(var(--size-xs), 5vw, var(--size-xL));
}
.primary-header {
  padding-top: var(--size-L);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-dark-blue);
  font-weight: var(--fw-semi-boldbold);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-neutral-dark-grayish-blue);
}

/* cta */
.cta {
  position: relative;
  isolation: isolate;
  text-align: center;
}
.cta::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("images/bg-tablet-pattern.svg"),
    url("images/bg-tablet-pattern.svg");
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: -240px -80px, 1600px -630px;
}

/* footer*/

.footer-nav {
  columns: 2;
  gap: clamp(var(--size-s), 10vw, var(--size-xxxL));
}

.footer-nav a {
  text-decoration: none;
  color: var(--clr-neutral-creamy);
}
.footer-nav a:is(:hover, :focus) {
  color: var(--clr-primary-light-blue);
}

.footer-logo {
  margin-top: 20px;
}

/* social-list-icons */
.social-list {
  display: flex;
  gap: var(--size-m);
}

.social-list a:is(:hover, :focus) .social-icon {
  fill: var(--clr-primary-light-blue);
}

.social-icon {
  width: var(--size-m);
  fill: var(--clr-neutral-creamy);
}

.primary-footer-form input[type="email"] {
  border-radius: 50px;
  border: 0;
  padding: 7px 1px;
}

.primary-footer-form {
  display: grid;
  align-content: space-between;
}

/*numbered items  */

.numbered-items {
  counter-reset: count;
}

.numbered-items li {
  counter-increment: count;
}


.numbered-items div{display: grid;
grid-template-columns: min-content 1fr;
align-items: center;
column-gap: var(--size-xs);}

.numbered-items p {grid-column: 1/-1;}

.numbered-items div::before {
  content: counter(count, decimal-leading-zero);
  background-color: var(--clr-primary-light-blue);
  color: var(--clr-primary-dark-blue);
  font-weight: var(--fw-bold);
  padding: var(--size-xxs) var(--size-m);
  border-radius: 20px;
}

/* Utility Classes */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 16px;
}

.get-started-push-right {
  margin: 0 auto;
}
.vertical-align-items {
  align-items: center;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 32px);
}

.text-primary-light-blue {
  color: var(--clr-primary-light-blue);
}
.text-primary-dark-blue {
  color: var(--clr-primary-dark-blue);
}
.text-neutral-dark-grayish-blue {
  color: var(--clr-neutral-dark-grayish-blue);
}
.text-neutral-creamy {
  color: var(--clr-neutral-creamy);
}
.bg-primary-light-blue {
  background-color: var(--clr-primary-light-blue);
}
.bg-primary-dark-blue {
  background-color: var(--clr-primary-dark-blue);
}
.bg-neutral-dark-grayish-blue {
  background-color: var(--clr-neutral-dark-grayish-blue);
}
.bg-neutral-creamy {
  background-color: var(-clr-neutral-creamy);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.2;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.2;
}

.fs-13 {
  font-size: var(--fs-13);
}
.fs-14 {
  font-size: var(--fs-14);
}

.fs-15 {
  font-size: var(--fs-15);
}
.fs-16 {
  font-size: var(--fs-16);
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    max-width: 500px;
    margin-inline: auto;
    padding: var(--size-L);
    inset: 112px var(--size-s) auto;
    background-color: var(--clr-neutral-mobile);
    border-radius: var(--size-xxxs);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05), 0 0 0 1000vmax rgb(0 0 0/ 0.55);
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(000 / 0), rgb(000 / 0.8));
  }
  .nav-list {
    display: grid;
    gap: var(--size-m);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 5px;
    display: block;
    position: fixed;
    top: var(--size-L);
    right: var(--size-s);
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
  .display-sm-none {
    display: none;
  }
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  :root {
    --fs-body: var(--fs-16);
    --fs-nav: var(--fs-13);
    --fs-primary-heading: var(--fs-56);
    --fs-secondary-heading: var(--fs-40);
  }
  .display-md-inline-flex {
    display: inline-flex;
  }

  .cta {
    text-align: left;
  }

  .get-started-push-right-md {
    margin-left: auto;
  }

  .social-icon {
    width: var(--size-m);
  }

  .social-list {
    display: flex;
    gap: var(--size-s);
  }

  .primary-footer-form {
    display: grid;
  }
  .numbered-items p {grid-column: 2/-1;}
}
